{% load static %}
<link rel="stylesheet" href="css/contact.css">
<section class="contact-section" id="contact">

    <div class="contact-container">

        <!-- Left Info -->
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Have questions or want to join our club? Reach out to us anytime!</p>

            <div class="info-box">
                <span>📍</span>
                <p>Arjungeria, West Bengal, india</p>
            </div>

            <div class="info-box">
                <span>📞</span>
                <p>+91 7908594499</p>
            </div>

            <div class="info-box">
                <span>📧</span>
                <p>arjungeriaagnisangha2013@gmail.com</p>
            </div>
        </div>

        <!-- Right Form -->
        <div class="contact-form">
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" name="name" required>
                    <label>Your Name</label>
                </div>

                <div class="input-group">
                    <input type="email" name="email" required>
                    <label>Your Email</label>
                </div>

                <div class="input-group">
                    <textarea name="message" rows="5" required></textarea>
                    <label>Your Message</label>
                </div>

                <button type="submit">Send Message</button>
            </form>
        </div>

    </div>

</section>